/* splash.css */

body{
  background-color: orange;
}
#container{
  position: relative;
  margin-top: -40px;
}
#title{
  font: 34px/30px 'Vast Shadow';
  color: black;
  width: 620px;
  margin: 0 auto;
  letter-spacing: .11em;
  text-transform: uppercase;
  padding: 14px 0 13px 0;
  border-top: 4px double #676767;
  border-bottom: 4px double #676767;
}
#alice{
  font: italic 900 100px/90px 'Playfair Display', Georgia, serif;
  margin-top: 80px;
  margin-left: 150px;
  padding-top: -20px;
  padding-bottom: -40px;
  /*display: block;*/
}
#in{
  font-family: 'Playfair Display SC', serif;
  font-size: 60px;
}
#peter{
  position: relative;
  font: 68px/60px 'Ultra', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: -100px;
}
#and{
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
}
#jungle{
  position: relative;
  font:  900 150px/90px 'Playfair Display', Georgia, serif;
  margin-left: 100px;
  line-height: 10px;
  margin-top: 30px;
}
#andersen{
  position: relative;
  font: 68px/60px 'Playfair Display SC', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: -70px;
  margin-left: -140px;
}
#aesop{
  position: relative;
  font: italic 900 130px/90px 'Playfair Display', Georgia, serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: -12px;
  margin-left: 100px;
  line-height: 10px;
}
a:link{
  text-decoration: none;
  color: black;
  }
a:visited{
  text-decoration: none;
  color: black;
}